<div>
    <img class="img-responsive" src="assets/icons/luck.svg" width="150" height="150">
    <h1 class="jumbotron-heading">Get your fortune cookie!</h1>
    <p class="text-muted fortune-text">A fortune cookie is a crisp cookie usually made from four, sugar, vanilla and sesame seed oil with a piece of paper inside, a "Fortune", on which is an aphorism or a vague prophecy.</p>
    <div *ngIf="state==='draw'">
        <button (click)="drawFortune()" class="btn btn-primary">Open Fortune Cookie</button>
    </div>
    <div *ngIf="state==='show'">
        <button (click)="open(content)" class="btn btn-secondary">Consume Fortune Cookie</button>
    </div>
    <div *ngIf="state==='update'">
        <button (click)="consumeFortune()" class="btn btn-secondary">Update Fortune</button>
        <button (click)="consumeFortune()" class="btn btn-secondary">Cancel Update</button>
    </div>
</div>
<div *ngIf="userFortune">
    <div class="alert alert-light fortune-text" role="alert">
        <h4 class="alert-heading">{{userFortune.fortune}}</h4>
    </div>
    <div *ngIf="state==='update'" class="input-group flex-nowrap new-fortune">
    <input [(ngModel)]="newFortune" type="text" class="form-control" placeholder="Change your fortune here!" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
</div>

<hr>

<pre>{{ lastAction }}</pre>

<!-- <ul>
    <li *ngFor="let fortune of allFortune">
           {{fortune.fortune}}
    </li>
</ul> -->

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Before Consuming</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <p>You can change the fortune of the last cookie. Would you like to change it?</p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Yes')">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('No')">No</button>
    </div>
</ng-template>  