<div>
    <img (click)="showAllFortune()" class="img-responsive" src="assets/icons/luck.svg" width="150" height="150">
    <h1 class="jumbotron-heading">{{'Greeting' | translate}}</h1>
    <p class="text-muted fortune-text">{{'Facts' | translate}}</p>
    <div [ngSwitch]="state">
      <div *ngSwitchCase="'draw'">
          <button (click)="drawFortune()" class="btn btn-primary">{{'OpenFortuneBtn' | translate}}</button>
      </div>
      <div *ngSwitchCase="'show'">
          <button (click)="openConsumption()" class="btn btn-secondary">{{'ConsumeFortuneBtn' | translate}}</button>
      </div>
      <div *ngSwitchCase="'update'">
          <button (click)="updateFortune()" class="btn btn-primary update-btn">{{'UpdateFortuneBtn' | translate}}</button>
          <button (click)="cancelUpdate()" class="btn btn-light update-btn">{{'CancelUpdateBtn' | translate}}</button>
      </div>
    </div>
</div>
<div *ngIf="userFortune">
    <div class="alert alert-light fortune-text" role="alert">
        <h4 id="userFortune" class="alert-heading">{{userFortune.fortune}}</h4>
    </div>
    <div *ngIf="state==='update'" class="input-group flex-nowrap new-fortune">
    <input [(ngModel)]="newFortune" type="text" class="form-control" placeholder="{{translate.instant('ChangefortunePlaceHolder')}}" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
</div>
<hr>
<div id="actionLast" class="footer-message">{{ lastAction }}</div>
<div id="seeAllFortune" *ngIf="state==='draw'" class="footer-message">{{'SeeAllFortune' | translate}}</div>
