.fortune-text{
    margin-top: 10px;
}

.new-fortune{
    margin-top: 10px;
    margin-bottom: 10px;
}

.update-btn {
    margin-right: 10px;
}

.footer-message{
  font-family: monospace;
  margin: 1em 0;
}